body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
}

h1 {
  padding: 1em;
  font-style: italic;
  color: #373fff;
}

canvas {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
/*body {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/
/*#container {*/
/*  position: relative;*/
/*}*/
/*#container canvas, #overlay {*/
/*  position: absolute;*/
/*}*/
/*canvas {*/
/*  border: 1px solid black;*/
/*}*/
